.box{
    height: 500px;
    width: 500px;
    background-color: aqua;
    position: relative;
}

.img1{
    /* border-radius: 50%; */
    position: absolute;
    height: 200px;
    width: 200px;
    transition: 1s;
    /* padding-top: 100px; */
}
.img2{
    /* border-radius: 50%; */
    position: absolute;
    height: 100px;
    width: 100px;
    /* padding-top: 100px; */
    margin-left: 300px;
    transition: 1s;
}